#editor, #parser {
    display: none;
}

#homepage {
    margin-top: 80px;
}

#homepage button {
    margin: auto;
    display: block;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

#toolbar {
    display: block;
    position: absolute;
    width: 300px;
    top: 20px;
    right: 20px;
}

#svgpanel {
    min-width: 900px;
    max-width: 80%;
    overflow: scroll;
}

#svgpanel::-webkit-scrollbar {
    display: none;
}

#toolbar label {
    display: block;
    padding: 5px;
    background-color: rgb(197, 245, 245);
    border-bottom: solid 1px rgb(192, 211, 218);
}

#toolbar textarea {
    width: 100%;
    border: none;
}

#generate {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
}

#inputs, #output {
    width: 100%;
    border: solid 1px rgb(192, 211, 218);
    height: 30px;
    padding-left: 5px;
}

#output {
    margin-bottom: 20px;
}

.labelinput {
    margin-top: 20px;
}

#entityName {
    width: 75%;
    height: 30px;
}

#addEntity {
    width: 25%;
    height: 30px;
}

.clickable {
    cursor: pointer;
}
